<?xml version="1.0"?>
<robot name="robot_5dof">

  <!-- Dunya (Sanal Sabit Referans) -->
  <link name="world"/>

  <!-- Robot Tabani (Base Link) -->
  <link name="base_link">
    <visual>
      <geometry>
        
        <mesh filename="package://my_robot_description/meshes/Arm02_bl.stl"
              scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="mavi">
        <color rgba="0.0 0.8 0.0 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://my_robot_description/meshes/Arm02_Bl.stl"
              scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
    <link name="base_link">
    <visual>
      <geometry>
        
        <mesh filename="package://my_robot_description/meshes/Arm01_Bl .stl"
              scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="mavi">
        <color rgba="0.0 0.8 0.0 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://my_robot_description/meshes/Arm01_Bl.stl"
              scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
 <link name="base_link">
    <visual>
      <geometry>
        
        <mesh filename="package://my_robot_description/meshes/Waist_bl.stl"
              scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="mavi">
        <color rgba="0.0 0.8 0.0 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://my_robot_description/meshes/Waist_bl.stl"
              scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
 <link name="base_link">
    <visual>
      <geometry>
        
        <mesh filename="package://my_robot_description/meshes/Base_Bl.stl"
              scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="mavi">
        <color rgba="0.0 0.8 0.0 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://my_robot_description/meshes/Base_Bl.stl"
              scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
  <!-- Dunya ile Robot Tabani Arasindaki Sabit Baglanti -->
  <joint name="base_fixed_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>